@media (max-width: 84em) {
  .detail-content {
    display: flex;
    flex-direction: column-reverse;
  }

  .detail-content .detail-transaction {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .detail-transaction form {
    text-align: end;
  }

  .transaction-additional {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .detail-button {
    display: flex;
    flex-direction: column;
  }
  .content-container,
  .item_list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Tablet */
@media (max-width: 75em) {
  .landing_section {
    height: 90vh;
    align-items: center;
  }
  .searchBar {
    width: 0;
  }
  .content-container,
  .item_list {
    grid-template-columns: repeat(2, 1fr);
  }
  .transaction-additional {
    grid-template-columns: repeat(3, 1fr);
  }

  .testimoni {
    margin-top: 0;
  }

  .testimoni_text {
    font-size: 1.6rem;
    width: 80%;
  }

  .detail-galery,
  .transaction-additional {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Explore Section */
  .explore-title,
  .explore-description {
    font-size: 100%;
  }

  .login-container{
    align-items: center;
  }
}

@media (max-width: 59em) {
  .content-container,
  .item_list,
  .footer-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .detail-header {
    width: 90%;
  }

  .transaction-additional {
    grid-template-columns: repeat(2, 1fr);
  }

  .data_list {
    flex-direction: column;
  }

  .landing_title {
    font-size: 2.2rem;
    line-height: 40px;
  }

  .landing_section-content {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
  }

  .landing_image {
    grid-row: 1;
  }

  .landing_information {
    grid-row: 2;
    align-items: center;
  }

  .detail-galery,
  .transaction-additional {
    grid-template-columns: repeat(1, 1fr);
  }

  .login-container{
    display: block;
    align-items: center;
  }
  .form-group{
    margin-top: 30%;
   
  }
}
